@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Fonts
$cursive: 'Luckiest Guy', cursive;
$sans: 'Poppins', sans-serif;

// Palette

$light: #fdfaec;
$cream: #fbf7da;
$yellow: #ffd23f;
$glow: #ffc60a;
$red: #ef4943;
$purple: #7d423b;
$dark: #532c27;
$naples: #ffe070;

$checkbox-width: 18px;
