@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Open+Sans:wght@300;500;600;700;800&display=swap');

// Fonts
$cursive: 'Berkshire Swash', cursive;
$sans: 'Open Sans', sans-serif;

// Palette

$light: #fdfaec;
$cream: #fbf7da;
$yellow: #ffd23f;
$red: #fa4c60;
$purple: #8c175b;
$dark: #580e39;
