@use 'base';

.catalog {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .store {
    background-color: base.$cream;
    width: 80%;
    height: 100%;
    overflow-y: scroll;

    .title {
      font-family: base.$cursive;
      font-size: 4.236rem;
      color: base.$dark;
      letter-spacing: 1px;
      text-align: center;
      margin: 1rem;
    }
    .menu {
      margin: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .card {
        margin: 0.5rem;
        width: 480px;
        height: 240px;
        background-color: base.$light;
        border-radius: 4px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &:hover {
          border: 1px solid base.$glow;
        }

        .image {
          width: 50%;
        }
        .content {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          padding: 1rem;

          .header {
            width: 100%;

            .title {
              text-align: left;
              font-family: base.$sans;
              font-size: 1.77rem;
              color: base.$purple;
              margin: 0;
              letter-spacing: 0.1px;
            }
            .subtitle {
              font-family: base.$sans;
              font-size: 1rem;
              color: base.$red;
              font-weight: 600;
            }
          }
          .toppings {
            width: 100%;
            padding: 1rem 0;
            .title {
              font-family: base.$sans;
              font-size: 1rem;
              color: base.$purple;
              margin: 0;
              text-align: left;
              letter-spacing: 0.1px;
            }
            .text {
              font-family: base.$sans;
              font-size: 0.75rem;
              color: base.$red;
            }
          }
          .cta {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;
            cursor: pointer;

            .price {
              font-size: 1rem;
              color: base.$purple;
              letter-spacing: 0.1px;
              font-weight: 600;

              span {
                color: base.$dark;
                font-weight: 700;
              }
            }
            .button {
              border: none;
              background-color: base.$yellow;
              border-radius: 0.3rem;
              cursor: pointer;

              &:hover,
              &:focus {
                background-color: base.$glow;
              }

              img {
                height: 1rem;
                margin: 0.7rem 0.5rem;
              }
            }
          }
        }
      }
    }
  }
  .orders {
    background-color: base.$light;
    width: 20%;
    height: 100%;
  }
}
