// sass imports

@use 'base';
@use 'hero';
@use 'vendor';

// Reset styles
*,
*::before,
*::after {
  font-family: base.$sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-size: 18px;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

img {
  image-rendering: -webkit-optimize-contrast;
}

::-webkit-scrollbar {
  width: 0.4rem;
  
}

::-webkit-scrollbar-track {
  background: base.$light;
  margin: 0.1rem;
}

::-webkit-scrollbar-thumb {
  background: base.$yellow;
  border-radius: 0.2rem;
  
}

::-webkit-scrollbar-thumb:hover {
  background: base.$purple;
}
